*{
    padding: 0px;
    margin: 0px;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
a, a:hover{
    text-decoration: none;
}
/* main home page css */

/* header section */
/* menu section css */
.header-section{
    width: 100%;
    background: url("../img/ms-bg.png") center top no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
.header-section .bg-light{
    background: rgba(255, 249, 243, .9) !important;
}
.navbar-wrapper {
    width: 100%;
    position: relative;
    z-index: 15;

}
.isStuck{
    left:0px;
    width:100%;
    background: rgba(255, 249, 243, .9) !important;
}
.header-section .navbar-light .navbar-nav .active>.nav-link {
    color: #5a6e79;
    font-size: 16px;
    line-height: 26px;
    color: #5a6e79;
    font-weight: 500;
    padding-bottom: 3px
}
.header-section .navbar-light .navbar-nav .nav-link{
    padding-bottom: 3px;
    color: #5a6e79;
    font-size: 16px;
    line-height: 26px;
    color: #5a6e79;
    font-weight: 500;
    margin-right: 20px;
    border-bottom: 2px solid transparent;
}
.header-section .navbar-light .navbar-nav .nav-link:focus, .header-section .menu .navbar-light .navbar-nav .nav-link:hover{
    color: #ffc178;
    border-bottom: 2px solid #ffc178;
}
.header-section .btn-info {
    padding: 10px 37px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #ffc178;
    background-color: #fff;
    box-shadow: 2px 5px 15px rgba(45, 52, 54, 0.2);
    border-radius: 30px;
    border: 1px solid transparent;
    transition: 1s ease-in-out;
}
.header-section .btn-info:focus, .header-section .btn-info:hover{
    color: #fff;
    background: #ffc178;
    border-radius: 30px;
    border: 1px solid #ffc178;
}
/* banner section css */
.header-section .banner{
    width: 100%;
    padding: 26px 0px 300px;
    overflow-x: hidden;
}
.header-section .banner .banner-inner{
    width: 100%;
    padding: 40px 0px;
}
.header-section .banner .banner-inner h2{
    font-size: 35px;
    color: rgb(255, 193, 120);
    font-weight: 700;
    line-height: 50px;
}
.header-section .banner .banner-inner p{
    font-size: 16px;
    color: rgb(90, 110, 121);
    line-height: 28px;
}
.header-section .banner .banner-inner .btn-info{
    padding: 9px 35px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 28px;
    border-radius: 29px;
    background-color: rgb(255, 193, 120);
    border: 1px solid rgb(255, 193, 120);
    transition: 1s ease-in-out;
}
.header-section .banner .banner-inner .btn-info:focus, .header-section .banner .banner-inner .btn-info:hover{
    color: rgb(255, 193, 120);
    background-color: transparent;
    border: 1px solid rgb(255, 193, 120);
}
/* feature section css */
.feature-section{
    width: 100%;
    overflow-x: hidden;
}
.feature-section .text-area{
    text-align: center;
}
.feature-section .text-area h2{
    font-size: 40px;
    color: rgb(37, 44, 58);
    font-weight: 700;
    line-height: 50px;
}
.feature-section .text-area p{
    font-size: 16px;
    color: rgb(90, 110, 121);
    line-height: 26px;
    font-weight: 400;
    margin: 19px 0px 30px;
}
.feature-section .feature-inner{
    width: 100%;
    padding: 0px 0px 50px;
    text-align: center;
}
.feature-section .bg-1{
    background: #f9703a;
}
.feature-section .bg-2{
    background: #80be41;
}
.feature-section .bg-3{
    background: #ffb157;
}
.feature-section .feature-inner h4{
    font-size: 27px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 37px
}
/* limitless section css */
.limitless-section{
    width: 100%;
    padding: 50px 0px;
    overflow-x: hidden;
}
.limitless-section .inner-img{
    width: 100%;
    text-align: left;
}
.limitless-section .inner-img .img{
    /* margin-left: -119px; */
    max-width: 100%;
    height: auto;
}
.limitless-section .limitless-inner{
    text-align: left;
    padding-left: 33px;
}
.limitless-section .limitless-inner h1{
    font-size: 40px;
    color: rgb(37, 44, 58);
    font-weight: bold;
    line-height: 50px;
}
.limitless-section .limitless-inner p{
    font-size: 14px;
    font-weight: 400;
    color: rgb(90, 110, 121);
    line-height: 28px;
}
.counter{
    width: 100%;
    padding: 40px 0px 40px 33px;
    color: #ffc958;
    overflow-x: hidden;
}
.counter h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.counter p{
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    margin-top: -14px;
}
.courses{
    width: 100%;
    padding: 40px 0px 40px 33px;
    color: #ff5f72;
}
.courses h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.courses p{
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    margin-top: -14px;
}
.hours-video{
    width: 100%;
    padding: 40px 0px 40px 33px;
    color: #43cb83;
}
.hours-video h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.hours-video p{
    font-size: 19px;
    font-weight: 400;
    line-height: 28px;
    margin-top: -14px;
}
/* university section css */
.university{
    width: 100%;
    padding: 80px 0px;
    overflow-x: hidden;
}
.university .text{
    text-align: center;
    padding-bottom: 50px;
}
.university .text h2{
    font-size: 40px;
    color: rgb(37, 44, 58);
    font-weight: 700;
    line-height: 50px;
}
.university .card-body {
    padding: 13px 17px 7px;
}
.university .card-title {
    font-size: 17px;
    color: rgb(37, 44, 58);
    line-height: 27px;
    margin-bottom: 0px;

}
.university .btn-link {
    font-size: 13px;
    font-weight: 400;
    padding-left: 0px;
    color: rgb(90, 110, 121);
}
.university .card-text{
    font-size: 10px;
    font-weight: 400;
    line-height: 23px;
    color: rgb(90, 110, 121);
    margin-bottom: 10px;
}
.university .card{
    margin-bottom: 30px;
    box-shadow: 2px 2px 10px #b6b6b8, 2px 2px 12px #fff;
    transition: .5s;
}
.university .card:hover .card-title{
    color: #ffc178;
    text-decoration: underline;
}
.university .card:hover .btn-link{
    color: #000;
    text-decoration: none;
}
.university .card:hover{
    transform: scaleY(1.1)
}
/* footer section css */
.footer{
    width: 100%;
    overflow-x: hidden;
}
.footer .footer-wighet{
    width: 100%;
    padding: 50px 0px;
    background: #252c3a;
    overflow-x: hidden;
}
.footer .footer-wighet .footer-wighet-inner{
    text-align: left;
}
.footer .footer-wighet .footer-wighet-inner p{
    margin-top: 16px;
    font-size: 16px;
    color: #969595;
    line-height: 22px;
}
.footer .footer-wighet .footer-wighet-inner .bor{
    border-bottom: 1px solid #969595;
}
.footer .footer-wighet .footer-wighet-inner ul{
    display: block;
    margin-top: 15px;
}
.footer .footer-wighet .footer-wighet-inner ul li{
    list-style: none;
    display: inline;
    margin-right: 10px;
}
.footer .footer-wighet .footer-wighet-inner ul li a{
    text-align: center;
}
.footer .footer-wighet .footer-wighet-inner ul li a .fa{
    width: 17px;
    height: 17px;
    line-height: 17px;
    background: #4a4a4a;
    color: #252c3a;
    font-size: 10px;
    border-radius: 2px;
    transition: 1s;
}
.footer .footer-wighet .footer-wighet-inner ul li a .fa:hover{
    background: #0089fd;
    color: #fff;
}
.footer .footer-wighet .footer-wighet-inner-1 h4{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.footer .footer-wighet .footer-wighet-inner-1 ul{
    display: block;
    margin-top: 42px;
}
.footer .footer-wighet .footer-wighet-inner-1 ul li{
    list-style: none;
    display: inline;
    font-size: 16px;
    color: #969595;
    line-height: 22px;
}
.footer .footer-wighet .footer-wighet-inner-1 ul li span{
    font-size: 9px;
}
.footer .footer-wighet .footer-wighet-inner-1 .main-form{
    width: 100%;
    position: relative;
}
.footer .footer-wighet .footer-wighet-inner-1 .form-control {
    width: 115%;
    padding: 23px 0px 23px 10px;
    font-size: 16px;
    color: #495057;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
}
.footer .footer-wighet .footer-wighet-inner-1 .form-control:focus{
    box-shadow: none;
}
.footer .footer-wighet .footer-wighet-inner-1 .btn-info {
    color: #fff;
    padding: 10px 22px;
    background-color: #ffc178;
    border: 1px solid transparent;
    border-radius: 0px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-transform: uppercase;
    position: absolute;
    top: 1px;
    right: -37px;
}
.footer .footer-wighet .footer-wighet-inner-1 .btn-inf:focus, .footer .footer-wighet .footer-wighet-inner-1 .btn-inf:hover{
    color: #ffc178;
    background-color: #fff;
    border: 1px solid #ffc178;
}
.main-footer{
    width: 100%;
    padding: 0px 0px;
    background: #1d232e;
    overflow-x: hidden;
}
.main-footer .text{
    text-align: left;
    margin-top: 20px;
}
.main-footer .text p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #616163;
}
.main-footer .main-footer-inner{
    text-align: right;
    margin-top: 20px;
}
.footer .main-footer .main-footer-inner ul{
    display: block;
}
.footer .main-footer .main-footer-inner ul li{
    list-style: none;
    display: inline;
    margin-left: 15px;
}
.footer .main-footer .main-footer-inner ul li a{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #616163;
}
.footer .main-footer .main-footer-inner ul li a:hover{
    text-decoration: none;
}